 {    
  "cliente" : "{{ cliente }}",
  "vcenter_hostname" : "{{ vcenter_server }}",
  "@timestamp": "{{ ansible_date_time.iso8601 }}",
  "site" : "{{ vm_site }}",
  "vm_name" : "{{ vcenter_hostname  }}",
  "disk_size": "{{ vm_disk_size  }}",
  "ram_size": "{{ vm_ram_size }}",
  "cpu_total": "{{ vm_cpu_total }}",
  "template": "{{ vcenter_vm_template }}",
  "datacenter": "{{ vcenter_datacenter }}",
  "esx": "{{  vcenter_esx }}",
  "ip_address": "{{ vm_ip_address }}",
  "plataforma": "{%- if '74' in vcenter_vm_template -%} RedHat 7.4 {%- elif '77'  in vcenter_vm_template -%} RedHat 7.7 {%- elif '78'  in vcenter_vm_template -%} RedHat 7.8 {%- elif '79'  in vcenter_vm_template -%} RedHat 7.9 {%- elif '80'  in vcenter_vm_template -%} RedHat 8.0 {%- elif '8.1'  in vcenter_vm_template -%} RedHat 8.1 {%- elif '8.2'  in vcenter_vm_template -%} RedHat 8.2 {%- elif '83'  in vcenter_vm_template -%} RedHat 8.3 {%- elif '12'  in vcenter_vm_template -%} Windows Server 2012 {%- elif '16'  in vcenter_vm_template -%} Windows Server 2016 {%- elif '19'  in vcenter_vm_template -%} Windows Server 2019 {%- else -%} Desconocido {%- endif -%}",
  "datastore": "{{ vcenter_datastore }}",
  "vcenter_folder": "{{ vcenter_folder }}",
  "vcenter_cluster": "{{ vcenter_cluster }}",
  "environment": "{{ var_env }}",
  "support_group": "{{ var_support_group }}",
  "antivirus": "{{ antivirus }}",
  "rfc": "{{ var_rfc }}",
  "impact": "{{ var_impact }}",
  "flow_tracking": "{{ status }}",
  "executed_by": "{{ user }}"
}
